<html>
<head>
    <title>Opsgenie Plugin Configuration</title>
    <script src="/js/jiraServerPlugin.js"></script>
    <meta name="decorator" content="atl.admin"/>
</head>
<body>
<div align="left">
    #if (${hasErrorMessages})
        <table>
            <tr>
                <td>Could not save the configuration!</td>
            </tr>
            #foreach ($error in $action.getErrorMessages())
                <tr>
                    <td>${error}</td>
                </tr>
            #end
        </table>
    #end
</div>
<form id="admin" class="aui" action="${req.contextPath}/secure/ConfigureApiKey.jspa" method="POST">
    <div class="field-group">
        <label for="name">Opsgenie ApiKey</label>
        <input type="text" id="apiKey" name="apiKey" class="text" value="$textutils.htmlEncode(${apiKey})">
    </div>
    <div class="field-group">
        <label for="baseUrl">Opsgenie BaseUrl</label>
        <input type="text" id="baseUrl" name="baseUrl" class="text" value="$textutils.htmlEncode(${baseUrl})">
    </div>
    <div class="field-group">
        <input type="submit" value="Save" class="button">
    </div>
</form>
</body>
</html>