<html>
<head>
    <title>Opsgenie Plugin Configuration</title>
    <meta name="decorator"
          content="atl.admin"/>
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-tooltips")
    $webResourceManager.requireResource("com.opsgenie.plugin.jiraServerOpsgeniePlugin:jiraServerOpsgeniePlugin-resources")
</head>
<body>
<div align="left">
    #if (${hasErrorMessages})
        <div class="aui-message aui-message-error">
            <p class="title">
                <strong>Could not save the configuration!</strong>
            </p>
            #foreach ($error in $action.getErrorMessages())
                <p>${error}</p>
            #end
        </div>
    #end
</div>
<form id="admin"
      class="aui"
      action="${req.contextPath}/secure/ConfigureOpsgenie.jspa"
      method="POST">
    <div class="field-group">
        <label for="name">Opsgenie API Key</label>
        <input type="text"
               id="apiKey"
               name="apiKey"
               class="text long-field"
               value="$textutils.htmlEncode(${apiKey})">
        <span class="aui-icon aui-icon-small aui-iconfont-info-circle og-tooltip"
              title="Opsgenie API Key, as under Opsgenie Settings -> API key management"></span>
    </div>
    <div class="field-group">
        <label for="baseUrl">Opsgenie Base Url</label>
        <input type="text"
               id="baseUrl"
               name="baseUrl"
               class="text long-field"
               value="$textutils.htmlEncode(${baseUrl})">
        <span class="aui-icon aui-icon-small aui-iconfont-info-circle og-tooltip"
              title="Opsgenie API base"></span>
    </div>
    <div class="field-group">
        <label for="serverUrl">Jira Server Base Url</label>
        <input type="text"
               id="serverUrl"
               name="serverUrl"
               class="text long-field"
               value="$textutils.htmlEncode(${serverUrl})">
        <span class="aui-icon aui-icon-small aui-iconfont-info-circle og-tooltip"
              title="The Base URL for the Jira Server"></span>
    </div>
    <div class="field-group">
        <label for="project-select">Projects</label>
        <select class="project-select long-field"
                id="project-select"
                name="project-select"
                multiple="true">
            #foreach ($selectedProject in ${selectedProjects})
                <option value=${selectedProject.id}
                                selected=true>${selectedProject.name}</option>
            #end
            #foreach ($project in ${projects})
                <option value=${project.id}>${project.name}</option>
            #end
        </select>
        <span class="aui-icon aui-icon-small aui-iconfont-info-circle og-tooltip"
              title="Jira Projects to be connected with Opsgenie"></span>
        <span class="aui-icon icon-inline-help"><span>Help</span></span>
    </div>
    <div class="field-group">
        <input type="submit"
               value="Save"
               class="button">
    </div>
</form>
</body>
</html>
